MEMTABLE_APPROXIMATE_MAX_SIZE_IN_BYTES 2097152

SSTABLE_APPROXIMATE_MAX_SIZE_IN_BYTES 4194304
SSTABLE_INDEX_BLOCK_SIZE_IN_BYTES 2048
NUM_SSTABLE_TO_COMPACT 5
KEEP_SSTABLE_FILE_OPEN 0

DB_FILE_PATH ./projectdb
